@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: #FB6B6B;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}